.carouselContainer {
  position: relative;
}

.navigationButtons {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index:1;
}

.leftButton,
.rightButton {
  cursor: pointer;
}
